django 
psycopg[binary]
djangorestframework
redis 
celery 
python-decouple 
pandas
openpyxl
gunicorn
drf-yasg
pillow
whitenoise
django-prometheus
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-django
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-psycopg2  